minecraft/.paper-remapped

minecraft/world/
minecraft/world_nether/
minecraft/world_the_end/
minecraft/world/playerdata/
minecraft/world/stats/

minecraft/logs/
velocity/logs/

minecraft/libraries/

velocity/plugins/bStats/
minecraft/plugins/bStats/
minecraft/plugins/spark/tmp/
minecraft/plugins/CoreProtect/database.db
minecraft/plugins/LuckPerms/translations/repository/
minecraft/plugins/PictoMap/images/
minecraft/plugins/PlaceholderAPI/expansions/
minecraft/plugins/faststats/
minecraft/plugins/spark-web-api/
minecraft/plugins/VillagerOptimizer/lang/
minecraft/plugins/PlugManX/messages/
minecraft/plugins/Pl3xMap/web/
minecraft/plugins/Pl3xMap/layers
minecraft/plugins/Pl3xMap/locale/
minecraft/plugins/Pl3xMap/markers/
minecraft/plugins/LuckPerms/libs/
minecraft/plugins/GSit/lang/
minecraft/plugins/BubbleVillagers/lang
minecraft/plugins/.paper-remapped/


mariadb/data/

.env
.env.*
!.env.example

velocity/forwarding.secret

minecraft/plugins/CoreProtect/config.yml
minecraft/plugins/DiscordSRV/config.yml
minecraft/plugins/PictoMap/config.yml
minecraft/paper-global.yml


.DS_Store
*.db
.idea/
.vscode/
*.swp
*.swo
